* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Space Mono", monospace;
    background-color: hsl(185, 41%, 84%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    position: absolute;
    top: 10vh;
    color: hsl(186, 14%, 43%);
    font-weight: 600;
    letter-spacing: 5px;
}

form {
    border-radius: 1.5vw;
    background: #fff;
    width: 50vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 751px;
    box-sizing: border-box;
}

label {
    color: hsl(186, 14%, 43%);
    font-weight: 700;
}


#leftSideCont {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 22.5vw;
    height: 40vh;
    min-width: 350px;
}

input:focus {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#priceInput {
    border-radius: 5px;
    cursor: pointer;
    color: hsl(183, 100%, 15%);
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-size: 20px;
    box-sizing: border-box;
    padding: 0 15px;
    background-position: 10px 11.5px;
    background-image: url(./images/icon-dollar.svg);
    background-repeat: no-repeat;
    text-align: right;
    border: none;
    height: 40px;
    margin-bottom: 20px;
    width: 21vw;
    background-color: hsl(189, 41%, 97%);
    min-width: 330px;
}


#leftSideCont .discount{
    display: flex;
    align-items:center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 700;
    font-size: 25px;
    font-family: "Space Mono", monospace;
    background-color: hsl(183, 100%, 15%);
    color: #fff;
    border: none;
    margin-bottom: 20px;
    margin-right: 20px;
    height: 50px;
    width: 6vw;
    min-width: 95px;
}

#tipPercent input{
    border-radius: 5px;
    cursor: pointer;
    background-color: hsl(189, 41%, 97%);
    font-weight: 700;
    font-size: 25px;
    font-family: "Space Mono", monospace;
    color: hsl(183, 100%, 15%);
    margin-bottom: 20px;
    margin-right: 20px;
    height: 50px;
    width: 6vw;
    border: none;
    padding: 0;
    text-align: center;
    min-width: 95px;
}

input::placeholder {
    font-weight: 700;
    font-size: 25px;
    color: hsl(186, 14%, 43%);
}

#seperate{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: auto;
}

#tipPercent {
    display: flex;
}

#numOfPeople {
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
    color: hsl(183, 100%, 15%);
    font-family: "Space Mono", monospace;
    background-position: 10px 11.5px;
    padding: 0 15px;
    box-sizing: border-box;
    background-image: url(./images/icon-person.svg);
    background-repeat: no-repeat;
    text-align: right;
    border: none;
    background-color: hsl(189, 41%, 97%);
    height: 40px;
    width: 21vw;
    min-width: 330px;
}

.labelCont {
    min-width: 330px;
    width: 21vw;
    display: flex;
    justify-content: space-between;
}

.labelCont #errorMsg {
    color: red;
    display:none;
}

#rightSideCont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 40px;
    background-color: hsl(183, 100%, 15%);
    width: 22.5vw;
    min-width: 350px;
    height: 40vh;
    border-radius: 0.75vw;
}

#outputBox {
    display: flex;
    align-items: center;
    height: auto;
}

#outputBox div{
    display: flex;
    flex-direction: column;
}

#outputBox h2{
    font-size: 15px;
    color: hsl(189, 41%, 97%);
}

#outputBox p{
    font-size: 12.5px;
    color: hsl(172, 67%, 45%);
}

#outputBox h1 {
    color: hsl(172, 67%, 45%);
    font-size: 50px;
}

#resetButton {
    color: hsl(183, 100%, 15%);
    width: 100%;
    height: 55px;
    border-radius: 7.5px;
    text-transform: uppercase;
    background-color: hsl(172, 67%, 45%);
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-size: 20px;
    border: none;
    outline: none;
    cursor: pointer;
}

#numOfPeople:focus {
    outline: 100px solid hsl(172, 67%, 45%);
}

#priceInput:focus {
    outline: 100px solid hsl(172, 67%, 45%);
}

#leftSideCont input:focus {
    outline: 2px solid hsl(172, 67%, 45%);
}

@media screen and (max-width: 750px) {

    .title {
        font-size: 25px;
        top: 4vh;
    }

    form {
        min-width: 0;
        border-radius: 30px 30px 0px 0px;
        position: fixed;
        left:0;
        right:0;
        bottom:0;
        height: 85%;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }

    label {
        text-align: left;
        width: 90%;
    }

    #leftSideCont {
        min-width: 0;
        width: 100%; 
        align-items: center;
        justify-content: center;
    }

    #seperate {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }

    #priceInput,
    #numOfPeople {
        padding: 20px;
        width: 90%;
        min-width:0;
        height: 50px;
        background-position: 10px 15px;
        font-size: 24px;
    }

    .labelCont {
        min-width: 0;
        width: 90%;
    }

    #errorMsg {
        text-align: right;
        width: 70%;
    }

    #rightSideCont {
        min-width: 0;
        padding: 20px;
        width: 90%;
        height: 35%;
        border-radius: 20px;
        justify-content: space-evenly;
    }

    #outputBox {
        width: 100%;
    }
    #outputBox h1{
        font-size: 35px;
    }

    #resetButton {
        width: 100%;
    }
  
  #leftSideCont .discount,
    #tipPercent input {
        width: calc(50% - 20px); 
    }
}